---
const { pageTitle } = Astro.props;
import '@fontsource/noto-sans-tc';
import '../styles/your-styles3.css';
const site_title = "休斯頓禪修社區";
const base = import.meta.env.BASE_URL + (
  import.meta.env.BASE_URL.endsWith('/') ? '' : '/');
---
<!DOCTYPE html>
<html lang="zh-Hant"> <!-- IMPORTANT: Set the language! -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href={base} />
  <title>{pageTitle}</title>
</head>
<body>

  <header class="site-header">
    <div class="header-container">
      <div class="site-title"><a href="./">{site_title}</a></div>
      <nav class="main-navigation">
        <ul>
          <li><a href="./">首頁</a></li>
          <li><a href="./about">關於</a></li>
          <li><a href="./resources">資源</a></li>
          <li><a href="./contact">聯絡</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <article class="article-content">
      <h2>{pageTitle}</h2>
      <slot />
    </article>
  </main>

  <footer class="site-footer">
    <p>© 2025 {site_title}. 保留所有權利.</p>
  </footer>

</body>
</html>
